header {
    width: 100%;
    height: 75px;
    background: #fff;
    font-family: 'robotoLight';
    position: relative;
}

header .logo {
    border-radius: 30%;
    width: 60px;
    height: 60px;
    background: #f2f2f1;
    position: absolute;
    top: 6px;
    left: 20%;
}

header .logo h1 {
    font-size: 0px;
}

header .logo {
    line-height: 17px;
    text-align: center;
}

nav.mainNavbar {
    position: absolute;
    right: 35%;
}

nav.mainNavbar ul li {
    display: inline;
}

nav.mainNavbar a {
    line-height: 75px;
    padding: 10px;
    font-size: 14px;
    transition: .2s;
    border-radius: 5px;
}

nav.mainNavbar a:hover {
    background: #fbfbfb;
}

main {
    font-family: 'robotoLight';
    background: #fff;
}

main .slider {
    width: 100%;
    position: relative;
}

main .slider-text {
    position: absolute;
    top: 20%;
    left: 15%;
    color: #fff;
    font-family: 'playfairDisplay';
}

.slider-text h2 {
    font-size: 50px;
    text-shadow: 5px 5px 10px #000000;
}

.slider-text h3 {
    font-size: 42px;
    text-shadow: 5px 5px 10px #000000;
}

.yellow {
    color: #e39336;
    font-family: 'playairDisplay';
}

.ribbon {
    position: absolute;
    bottom: -80px;
    left: 15%;
    z-index: 3;
    font-family: 'playfairDisplay';
}

.ribbon p {
    position: absolute;
    bottom: 70px;
    left: 0%;
    font-size: 30px;
    padding: 0px 10px;
    text-align: center;
    color: #fff;
}

.phone {
    z-index: 2;
    width: 100%;
    height: 100px;
    background: #dddddd;
    margin-top: -60px;
    position: relative;
    font-family: 'robotoRegular';
}

.phone .call-us {
    width: 200px;
    height: 45px;
    position: absolute;
    top: 25px;
    right: 45%;
}

.call-us img {
    font-size: 13px;
    float: left;
}

.call-us p:nth-child(3) {
    font-size: 19.5px;
}

.call-us p:nth-child(2) {
    font-size: 17px;
}

.phone .number {
    position: absolute;
    font-family: 'playfairDisplay';
    font-size: 40px;
    line-height: 80px;
    right: 25%;
}

.about {
    width: 85%;
    margin: auto;
    display: flex;
    padding: 20px;
    min-height: 400px;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #fff;
}

.about .desc h2 {
    font-size: 25px;
    font-family: 'playfairDisplay';
    padding-top: 60px;
    padding-bottom: 10px;
}

.about .desc {
    width: 40%;
    padding: 10px;
    height: 380px;
}

.about .desc p:nth-child(3) {
    font-size: 1.1em;
    text-align: right;
    padding-top: 30px;
}

.grid {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    justify-content: center;
    height: 380px;
}

.grid img {
    height: 150px;
    margin: 5px;
}

.grid img:nth-child(1) {
    background: #5f8ebe;
    margin-top: 60px;
}

.grid img:nth-child(2) {
    background: #54d385;
}

.grid img:nth-child(3) {
    background: #ce81a1;
}

.grid img:nth-child(4) {
    background: #cede77;
    margin-top: -50px;
}

main .menu {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    background: #fff;
}

main .menu h1 {
    font-family: 'playfairDisplay';
    text-align: center;
    padding: 20px 0px;
    font-size: 40px;
}

#tabs {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 20px 0px;
}

.nav-tabs {
    width: 100%;
    min-height: 70px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    background: url(../photos/wood.jpg) 50% no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.nav-tabs a {
    display: block;
    text-align: center;
    padding: 5px 30px;
    color: #e39336;
}

.tab-content {
    width: 90%;
    text-align: left;
    padding: 20px 0px;
    margin: auto;
}

.tab-content div ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.tab-content div li {
    width: 400px;
    height: 70px;
    position: relative;
    border-bottom: 1px solid #cbcbcb;
    padding: 10px 0px;
    margin: 0px 20px;
}


.tab-content h3 {
    padding: 10px 0px;
    font-size: 25px;
    text-align: center;
}

.tab-content div h4 {
    font-size: 17px;
    padding: 10px 0px;
}

.tab-content div p {
    font-family: 'robotoLight';
    font-size: 13px;
    width: 100%;
}

.tab-content div .price {
    position: absolute;
    right: 5px;
    top: 13px;
    font-size: 20px;
    font-family: 'playfairDisplay';
}

.active {
    border-bottom: 3px solid #ff9e2d;
}

.tab-content div h3 {
    width: 100%;
}

.map h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'playfairDisplay';
    padding: 50px 0px;
    width: 100%;
}

.map {
    margin: 30px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gmap {
    width: 600px;
    height: 320px;
    background: #4e9862;
    margin: 0px 10px;
}

.cometous {
    font-family: 'playfairDisplay';
    width: 500px;
    text-align: left;
    font-size: 32px;
    margin: 0px 10px;
    margin-top: 30px;
    padding: 20px;
    height: 220px;
}

.callus {
    width: 100%;
    height: 50px;
    font-family: 'robotoRegular';
    padding: 20px 0px;
    position: relative;
}

.callus p {
    font-size: 17px;
    top: 10px;
    left: 10px;
    width: 185px;
    border-right: 1px solid #c4c4c4;
}

.callus p:nth-child(2) {
    font-size: 18px;
    color: #cc6193;
}

.map .contact-number {
    font-size: 35px;
    margin: 0;
    padding: 0;
    display: block;
    width: 220px;
    position: absolute;
    top: 10px;
    right: 90px;
}

footer {
    width: 100%;
    height: 230px;
    background: #292b48;
    padding: 50px 0px;
    color: #fff;
    position: relative;
    margin-top: 100px;
}

footer nav h2 {
    font-family: 'playfairDisplay';
    font-size: 25px;
}

footer nav {
    position: absolute;
    top: 50px;
    left: 20%;
}

footer nav li {
    margin: 10px 0px;
}

footer nav li a {
    color: #7b7c8e;
    display: block;
}

.fb {
    width: 430px;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 25px;
    position: absolute;
    top: 120px;
    left: 50%;
}

.fb img {
    width: 70px;
    margin-right: 10px;
}

.copy {
    bottom: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #7b7c8e;
    font-size: 15px;
}

.copy p {
    background: #292b48;
    width: 300px;
    margin: auto;
}

.copy-b {
    height: 1px;
    border-bottom: 1px solid #7b7c8e;
    position: absolute;
    bottom: 28px;
    width: 80%;
    margin: auto;
    right: 0px;
    left: 0px;
}