<form ng-submit="createProduct()">

    <div class="row">
        <div class="col-sm-6 ">


            <div class="form-group">
                <label>Nazwa produktu</label>
                <input type="text" class="form-control" ng-model="product.nazwa">
            </div>
            <div class="form-group">
                <label>Waga</label>
                <input type="text" class="form-control" ng-model="product.waga">
            </div>
            <div class="form-group">
                <label>Opis</label>
                <textarea ng-model="product.opis" cols="30" rows="5" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Cena</label>
                <input type="text" class="form-control" ng-model="product.cena">
            </div>


        </div>

        <div class="col-sm-6">

            <h2>{{product.nazwa}}</h2>
            <h3>{{product.waga}}kg</h3>
            <h3>{{product.opis}}</h3>
            <h3>
              <span class="label label-warning">{{product.cena | number:2}} zł/kg</span>
            </h3>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-success" type="submit">Dodaj</button>
            <a class="btn btn-primary" href="#/products">Wróć bez zmian</a>
        </div>
    </div>


</form>