<h1>Lista produktów</h1>
<div class="row">
    <div class="col-sm-6 ">


        <input type="text" class="form-control" placeholder="wyszukaj" ng-model="search">


    </div>
    <div class="col-sm-6">
        <a href="#/admin/product/create/" class="btn btn-success">Dodaj produkt</a>
    </div>
</div>

<p></p>


<div ng-controller="products">


    <div class="panel panel-default" ng-repeat="product in products | filter: search">
        <div class="panel panel-body">
            <h3>{{product.nazwa}}</h3>
            <p><span class="label label-info">Waga: {{product.waga}}kg/szt</span></p>
            <p>{{product.opis}}.</p>
            <h3><span class="label label-warning">Cena: {{product.cena | number:2}} zł / kg</span></h3>

            <hr>

            <a href="#/admin/product/edit/{{$index}}" class="btn btn-primary">Edytuj</a>

            <button ng-click="delete(product, $index)" class="btn btn-danger pull-right">Usuń</button>

        </div>
    </div>

</div>